{% extends "Blog/base.twig" %}

{% block title %}Posts{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #1d8c7c; }
    </style>
{% endblock %}
{% block contenttitle %}Post Page{% endblock %}
{% block content %}
    {% if post %}
        <h2>
            Viewing a post.
            <a href="{{ path('edit_post', {post_id: post.id}) }}">Edit</a>
        </h2>
        <h3>Post Message:</h3>
        {{ post.message }}
        <h3>Tags:</h3>
        {{ post.tags|join(', ') }}
        <h3>Add Comment:</h3>
        {{ form_start(form) }}
        {{ form_row(form.text) }}
        {{ form_end(form) }}
        <h3>Comments:</h3>
        {% for comment in comments %}
            <p>{{ comment.text }}</p>
        {% endfor %}
    {% else %}
        <h1>Post Not Found! Check URL!</h1>
    {% endif %}
{% endblock %}